COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
config.guess
config.log
config.status
config.sub
autodrivers.list
autodrivers.list.cur
autofix_eps.pl
automakedoc
automakehtml
automaketex
depcomp
grexec.f
install-sh
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
pgplot-config.csh
pgplot-config.sh
pgplot.doc
pgplot.html
pgplot-routines.tex
pgxwin_server
*.o
*.lo
*.la
*_ds
Makefile
Makefile.in
*.lo
.deps
.libs
_deps
_libs
*_ds
docwork
